<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<style>
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    -webkit-text-size-adjust: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main {
    text-align: center;
    padding-inline: 1rem;
  }

  a {
    text-decoration: none;
    color: darkgrey;

    &:hover {
      text-decoration: underline;
    }
  }

  nav {
    padding-block: 0.5rem;

    >ul {
      padding-inline-start: 0;
      list-style: none;
      gap: 0.5rem 1rem;
      display: inline-flex;
      flex-wrap: wrap;
    }
  }
</style>
